
/*公共样式*/
* {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

.left {
	float: left;
}

.clearfix {
	clear: both;
}

.clearfix:after {
	display: block;
	content: '';
	zoom: 1;
}
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	padding-top: 2rem;
	background-image: url('img/back.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
/*玩法介绍和分享*/
#des,
#share {
	padding-top: 1rem;
	position: absolute;
	top: 0;
	z-index: 999;
	width: 10rem;
	height: 100%;
}
#des {
	display: none;
	width: 8.4rem;
	padding-left: .8rem;
	padding-right: .8rem;
	color: #eee;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}
#des h1 {
    font-size: 28px;
}
#des p {
	font-size: 22px;
	margin-top: 1rem;
} 
#des div.button {
	display: block;
	width: 4rem;
	height: 1rem;
	border: .1rem solid #fff;
	margin: 1.6rem auto;
    background-color: inherit;
    font-size: 22px;
    font-weight: bolder;
    line-height: 1rem;
    opacity: 1;
	color: #fff;
}
#share {
	display: none;
	background-color: #000;
	opacity: 0.7;
	background-image: url('img/share.png');
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

/*基本布局*/
.wrap {
	margin-left: 1.25rem;
	width: 7.5rem;
	height: 10.2rem;
}
.card {
	position: relative;
	margin: .35rem;
	width: 1.2rem;
	height: 2rem;
	padding: .3rem;
	text-align: center;
}
/*card设置*/
.card .backd,
.card .front {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
    /*动画时间*/
	transition: transform 1.5s;
	-webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -o-transition: transform 1.5s;
    -ms-transition: transform 1.5s;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;

	background-repeat: no-repeat;
	background-size: 1.8rem 2.6rem;
}
/*背景图设置*/
.card .front {
    transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.card .backd {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.card .backd1 {
	background-image: url('img/card/backd1.png');
}
.card .backd2 {
	background-image: url('img/card/backd2.png');	
}
.card .backd3 {
	background-image: url('img/card/backd3.png');	
}
.card .backd4 {
	background-image: url('img/card/backd4.jpg');	
}
.card .backd5 {
	background-image: url('img/card/backd5.jpg');	
}
.card .front1 {
	background-image: url('img/card/front1.png');
}
.card .front2 {
	background-image: url('img/card/front2.png');
}
.card .front3 {
	background-image: url('img/card/front3.png');
}
.card .front4 {
	background-image: url('img/card/front4.jpg');
}

/*结果页*/
.result-wrap {
    overflow: hidden;
	position: absolute;
    top: 0;
    z-index: 1;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.4);
}
#result {
	position: absolute;
	top: -8rem;
	/*top: 5rem;*/
	left: 2.2rem;
	z-index: 2;
	width: 4.4rem;
	height: 7rem;
	padding-top: .5rem;
	padding-right: .6rem;
	padding-bottom: .5rem;
	padding-left: .6rem;
	transition: top 2s;
	background-image: url('img/card/front2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
    opacity: 1;
	text-align: center;
}
#result h1 {
    margin-bottom: .5rem;
}
#result p {
	height: 4rem;
	font-size: 28px;
}
#result button.res-btn {
	display: inline-block;
	width: 2rem;
	height: .8rem;
	border: .1rem solid #000;
	margin: .4rem auto;
	outline: none;
	background-color: #fff;
	font-size: .3rem;
	color: #000;
	font-weight: bolder;
	text-align: center;
}
/*抽奖页面*/
#draw {
	display: none; 
	position: absolute;
	top: 0;
	z-index: 999;
	width: 8.4rem;
	padding-top: 2rem;
	padding-left: .8rem;
	padding-right: .8rem;
	height: 100%;
	color: #eee;
	font-size: .6rem;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}
#draw p {
    padding-top: 1rem;
}
#draw button {
	width: 3rem;
	height: 1rem;
	border: .07rem solid #fff;
	outline: none;
	font-size: .4rem;
	color: #fff;
	background-color: #000;
	margin-top: 2rem;
}
/*提交信息*/
#post {
	display: none;
	position: absolute;
	top: 0;
	z-index: 999;
	width: 8.4rem;
	padding-left: .8rem;
	padding-right: .8rem;
	height: 100%;
	color: #eee;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}
/*文本大小控制*/
body {
	font-family: sans-serif;
}
@media screen and (max-width: 321px) {
    body {
        font-size:16px
    }
}
 
@media screen and (min-width: 321px) and (max-width:400px) {
    body {
        font-size:17px
    }
}
 
@media screen and (min-width: 400px) {
    body {
        font-size:19px
    }
}